@using SchemaNote.ViewModels;
@model IEnumerable<Column>
@{
    Column c = new Column();
}
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => c.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => c.MS_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => c.TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => c.IS_PK)
        </th>
        <th>
            @Html.DisplayNameFor(model => c.DISALLOW_NULL)
        </th>
        <th>
            @Html.DisplayNameFor(model => c.DEFUALT)
        </th>
        <th>
            @Html.DisplayNameFor(model => c.IS_COMPUTED)
        </th>
        <th>
            @Html.DisplayNameFor(model => c.DEFINITION)
        </th>
        <th>
            @Html.DisplayNameFor(model => c.REMARK)
        </th>
    </tr>
</thead>
<tbody>
    @foreach (Column col in Model)
    {
        <tr>
            <td>
                <span class="colName">
                    @Html.DisplayFor(modelItem => col.NAME)
                </span>
            </td>
            <td>
                <a class="description text-info" asp-action="Details" asp-route-id="@col.OBJECT_ID">
                    @if (col.MS_Description == Common.DefaultValue)
                    {
                        <code>
                            @Html.DisplayFor(modelItem => col.MS_Description)
                        </code>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => col.MS_Description)
                    }
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => col.TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => col.IS_PK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => col.DISALLOW_NULL)
            </td>

            <td>
                @Html.DisplayFor(modelItem => col.DEFUALT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => col.IS_COMPUTED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => col.DEFINITION)
            </td>
            <td>
                <a class="remark text-info" asp-action="Details" asp-route-id="@col.OBJECT_ID">
                    @if (col.REMARK == Common.DefaultValue)
                    {
                        <code>
                            @Html.DisplayFor(modelItem => col.REMARK)
                        </code>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => col.REMARK)
                    }
                </a>
            </td>
        </tr>
    }
</tbody>
