@using SchemaNote.ViewModels;
@model DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

@section Scripts
    {
    <script>
        /*
        https://developer.mozilla.org/en-US/docs/Glossary/IIFE
        IIFE vs window.onload vs jQuery $(document).ready
        https://stackoverflow.com/questions/9899372/pure-javascript-equivalent-of-jquerys-ready-how-to-call-a-function-when-t
        */
        (function () {
            var htmlCollection = document.getElementsByClassName("NoteField");
            if (htmlCollection.length > 0) {
                var arr = Array.prototype.slice.call(htmlCollection);
                arr.forEach(
                    function (item) {
                        item.addEventListener("dblclick", changeElement);
                    }
                )
            }
        })();
        function EditAll() {
            var htmlCollection = document.getElementsByClassName("NoteField");
            if (htmlCollection.length > 0) {
                var arr = Array.prototype.slice.call(htmlCollection);
                arr.forEach(
                    function (item) {
                        var doubleClickEvent = document.createEvent('MouseEvents');
                        doubleClickEvent.initEvent('dblclick', true, true);
                        item.dispatchEvent(doubleClickEvent);
                    }
                )
                document.getElementById('EditAll').style.cssText = 'display:none;';
            }
        }
    </script>
}
<h2>Details</h2>
@if (TempData["ErrorMessage"] != null)
{
    <h4 class="bg-danger">@Html.Raw(TempData["ErrorMessage"])</h4>
}
<div>
    <a asp-action="Overview" class="btn btn-default"><strong>&lt; </strong>Overview</a>
    <button id="EditAll" type="button" class="btn btn-info" onclick="EditAll();">編輯全部</button>
</div>
<br />
<form asp-action="Details" onsubmit="EmptyString('@Common.DefaultValue')" method="post" class="panel panel-default">
    <input name="[0].COLUMN_ID" value="0" style="display:none;" />
    <div class="panel-heading">
        <stron class="objName">
            @Html.DisplayFor(n => Model.NAME)
        </stron>
        <sapn class="NoteField"
              data-field="@Common.MS_Desc"
              data-content="@Model.MS_Description"
              data-column_id="0"
              data-sortnum="0"
              data-class="form-control tabMS_Description">
            @if (Model.MS_Description == Common.DefaultValue)
            {
                <code>
                    @Html.DisplayFor(n => Model.MS_Description)
                </code>
            }
            else
            {
                @Html.DisplayFor(n => Model.MS_Description)
            }
            @Html.ValidationMessageFor(model => model.MS_Description, null, new { data_valmsg_for = "[0].MS_Description" })
        </sapn>
        <button type="submit" id="submit" class="btn btn-primary" style="display:none;">提交</button>
        <span class="count" data-toggle="tooltip" data-placement="top" title="@Common.CountTip">
            @Html.DisplayNameFor(model => Model.QTY):<strong class="text-info">@Html.DisplayFor(modelItem => Model.QTY)</strong>
        </span>
    </div>
    <div class="panel-body">
        <table class="tabDetail_left">
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => Model.TYPE_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TYPE_NAME)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => Model.SCHEMA_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.SCHEMA_NAME)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => Model.CREATE_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.CREATE_DATE)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => Model.MODIFY_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MODIFY_DATE)
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="tabDetail_right">
            <div>
                @Html.DisplayNameFor(model => Model.REMARK)
            </div>
            <div class="NoteField"
                 data-field="@Common.Remark"
                 data-content="@Model.REMARK"
                 data-column_id="0"
                 data-sortnum="0"
                 data-class="form-control">
                @if (Model.REMARK == Common.DefaultValue)
                {
                    <code>
                        @Html.DisplayFor(n => Model.REMARK)
                    </code>
                }
                else
                {
                    @Html.DisplayFor(n => Model.REMARK)
                }
                @Html.ValidationMessageFor(model => model.REMARK, null, new { data_valmsg_for = "[0].REMARK" })
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover table-responsive subTable">
        <partial name="_DetailColumns" model="Model.Columns" />
        @*  ↓↓↓equal↓↓↓↓
            @{await Html.RenderPartialAsync("_DetailColumns", Model.Columns);}
        *@
    </table>
</form>